body{
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
   

}
.full{
    background-image: url("./CRICKET\ IMG.jpg");
    background-size: cover;
    min-height: 100%;
    padding: 60px;

}
.cricket {
    /* border: 1px solid black; */
    border-radius: 12px;
    max-width: 400px;
    
    height: auto;
    background: #19122e;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
.heading{
    margin-top: 50px;
    margin-bottom: 70px;
}
.team-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.team{
    height: auto;
    max-width: 45%;
    font-size: 44px;
    color: #0481CB;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    background: black;
    /* margin-left: 50px; */
    padding: 30px;
}
.team:hover{
    color: green;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #AFB86A;
}
#increment-btn:hover{
    background: red;
}

#save-btn {
    margin-top: 60px;
    border: none;
    padding: 15px 30px;
    

    color: black;
    font-weight: 600;
    /* width: 300px; */
    /* margin-bottom: 5px; */
    border-radius: 12px; 
    background: #AFB86A;
    font-size: 20px;
}
#save-btn:hover{
    background: red;
}
.btn-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#increment-2{
    background: #AFB86A;
}
#increment-2:hover{
    background: red;
}
#restart{
    margin-top: 60px;
    border: none;
    padding: 15px 30px;
    

    color: black;
    font-weight: 600;
    /* width: 300px; */
    /* margin-bottom: 5px; */
    border-radius: 12px; 
    background: rgb(227, 0, 0);
    font-size: 20px;
}
#restart:hover{
    background:#AFB86A ;
}
span{
    display: none;
    color: black;
    padding: 10px;
    background-color: #AFB86A;
    border-bottom: 4px solid white;
}
@media only screen and (max-width: 682px) {
    body {
      background-color: lightblue;
    }
} 